<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<appSettings>
		<add key="App" value="C:\Users\ragupta110045\Downloads\SAPgui 7.40.zip n\BD_NW_7.0_Presentation_7.40_Comp._1_\PRES1\GUI\WINDOWS\WIN32\BI\BExAnalyzer.xla"/>
		<add key="Driver" value="C:\Users\ragupta110045\Desktop\Rebates Automation\Rebate Automation Project\Rebates_Automation\bin\Debug\Assets\Winium.Desktop.Driver.exe"/>
		<add key="Password" value="ShreeRam@2022"/>
	</appSettings>
</configuration>
