<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<appSettings>
		<add key="App" value="C:\Program Files\Microsoft Office\Office16\EXCEL.EXE"/>
		<add key="Driver" value="C:\Users\rahulg1580\Desktop\Automation\Rebate Automation Project\Rebates_Automation\bin\Debug\Assets\Winium.Desktop.Driver.exe"/>
		<add key="Password" value="ShreeRam@2022"/>
		<add key="FileName" value="ShreeRam@2022"/>
	</appSettings>
</configuration>
